.form {
  text-align:center;
  font-size: 20px;
  background-color:skyblue;
  padding:8px;
  border: 2px solid red;
  margin: 20px;
  height: 350px;
}
h1 {
  text-align:center;
  color:blue;
}
p {
  text-align:center;
  color:blue;
  font-size:20px;
}
button {
  font-size:18px;
}
body{
    background-color: bisque;
    background-image: url("./background-image");
}
footer{
    margin-top: 280px;
}
