.form {
  text-align:center;
  font-size: 20px;
  background-color:skyblue;
  padding:8px;
  border: 2px solid red;
  margin: 20px;
  height: 350px;
}
h1 {
  text-align:center;
  color:yellow;
    margin-top: -690px
}
p {
  text-align:center;
  font-size:29px;
}
button {
  font-size:18px;
}
body{
    margin-top: -1px;
    background-color: bisque;
    background-image: url("./backround-image.png");
    box-sizing: inherit;
}
footer{
    margin-top: 280px;
}
